.tiny-player {
    user-select: none;
    color: #fff;
    --tiny-theme: #2196f3;
    cursor: default;

	// video {
	// 	&::cue {
	// 		background-color: transparent;
	// 		color: #fff;
	// 	}

	// 	&::cue(b) {
	// 		color: #f66;
	// 	}
 //   }
}